@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    @font-face {
        font-family: "Gilroy";
        font-weight:400;
        src: url('./assets/fonts/gilroy/Gilroy-Regular.ttf');
    }
}